/node_modules
/public/hot
/public/storage
/storage/*.key
*.orig
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
.gitignore.orig
composer.phar
/resources/banner/
resources/banner/
/app/Helpers/words3.txt
/routes/web.php.old
!/resources/views/vendor/
routes/web.php.old
!/public/vendor/
