/***************** General Styles ********************/
.bordered-heading{
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.panel-title{
    font-size: 24px;
}
.btn-outline-secondary:hover{
    color: #000;
}
.myNav{
    background-color: #434857;
    margin-bottom: 20px;
}
.myNav> ul >li >a{
    text-decoration: none;
    color:white;
    padding-left: 15px;
}
.dropdown-menu{
    background-color: #434857;

}
.dropdown-menu>li>a{
    color:white;
    text-decoration: none;
    padding-left: 15px;
}