/***************** General Styles ********************/
.bordered-heading{
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.panel-title{
    font-size: 24px;
}
.btn-outline-secondary:hover{
    color: #000;
}
.myNav{
    background-color: #434857;
    margin-bottom: 40px;

}

.myNav> ul >li >a{
    text-decoration: none;
    color:white;
    padding-left: 15px;

}
.dropdown-menu{
    background-color: #434857;

}
.dropdown-menu>li {
    padding-top: 20px;
}
.dropdown-menu>li button {
    color: white;
    text-decoration: none;
    padding-left: 15px;

}
.transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}