/***************** General Styles ********************/
.bordered-heading{
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.panel-title{
    font-size: 24px;
}
.btn-outline-secondary:hover{
    color: #000;
}

.transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}